.reveal .confluence-embedded-image {
	border: none;
	box-shadow: none;
	margin: 0;
}

#loader, #error {
	position: fixed;
	top: 40%;
	bottom: 40%;
	left: 40%;
	right: 40%;
}

#error {
	position: fixed;
	top: 30%;
	bottom: 30%;
	left: 5%;
	right: 5%;
	color: #F00;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

html .slide-menu-wrapper .slide-menu-custom-panel {
	width: 100%;
	padding: 0;
}

.slide-menu-wrapper .slide-menu-custom-panel .menu-actions button {
	display: block;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: #FFF;
	width: 100%;
	text-align: left;
	padding: 1em;
	border-bottom: solid 1px #555;
}
.slide-menu-wrapper .slide-menu-custom-panel .menu-actions button .label {
	margin-left: 0.5em;
}
.slide-menu-wrapper .slide-menu-custom-panel .menu-actions button:hover,
.slide-menu-wrapper .slide-menu-custom-panel .menu-actions button:focus {
	background-color: #000;
}
