.keynote-target {
	border: none;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #FFF
}

.keynote {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -3px rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1em;
	text-align: center;
	margin: 1em;
}

.keynote-speakerNotes {
	background-color: #dfe6e9;
	opacity: 0.6;
	padding: 0.5em;
	margin: 0.5em 0;
	text-align: left;
}

.keynote-speakerNotes.conf-macro:before {
	content: '\01F5D2';
	font-size: 2em;
	margin: -0.5em -0.2em;
	color: #555;
	float: right;
	text-align: right;
	font-weight: bold;
}

.keynote.conf-macro > ul {
	margin: 0.5em auto;
	text-align: left;
	width: fit-content;
}

.keynote.conf-macro table {
	margin: 0.5em auto;
}

#title-text a.launch-keynote {
	opacity: 0.5;
	color: #FFF;
}

#title-text:hover a.launch-keynote {
	opacity: 1;
}

